body{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    background-color: rgb(20, 24, 29);
    color: white;
    font-family: 'Archivo', sans-serif;

}


header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header a{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
    color: purple;
}

header a:active {
    color: red;
}

.comprar_entradas{
    padding: 10px;
    background-color: rgb(241, 225, 79);
    border-radius: 20px;
    color: rgb(20, 24, 29);
    font-weight: bold;
}


h2{
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
    color: white;
}

main{
    grid-area: main;
}

.cartelera{
    display: grid;
    grid-template-areas:
    "p1 . p2 . p3"
    ". p4 . p5 . ";
    grid-template-rows: auto auto;
    justify-items:center;
    margin: 20px 250px;
    gap: 20px;
}

.pelicula{
    height: 400px;
    width: 275px;
    background-color: rgb(241, 225, 79); /* amarillo */
    color: rgb(20, 24, 29);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.pelicula img{
    border-bottom: 2px solid black;
}

.pelicula p{
    text-align: center;
    margin: 10px 0;
}


#p1{ 
    grid-area: p1; 
}
#p2{ 
    grid-area: p2; 
}
#p3{ 
    grid-area: p3; 
}
#p4{ 
    grid-area: p4; 
}
#p5{ 
    grid-area: p5; 
}



footer{
    background-color: rgb(41, 41, 41);
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: white;
}
