body{
    display:grid;
    grid-template-areas:
    "header"
    "hero"
    "main";
    grid-template-rows: 1fr 6fr 3fr;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: pink;
    height: 12vh;
    
}

.header a{
    margin: 0 5vw;
}

.comprar_entradas{
    border: 5px solid purple;
    background-color: purple;
    border-radius: 20px;
    color: white;
}


.hero{
    grid-area: hero;
    background-image: url(imgagen.png);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    padding: 5vh;

}

.hero h2{
    font-size: 60px;
    margin: 0;
}

.hero p{
    margin: 40px;
}

.opciones a{
    border: 5px solid purple;
    margin: 0 10px;
    border-radius: 20px;
    background-color: purple;
}


main{
    grid-area: main;
    background-color: pink;
}

.cartelera{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
}

.pelicula{
    width: 8vw;
    color: white;
    border: 2px solid black;
    background-image: url(imgagen.png);    
}

.pelicula p{
    border: 2px solid red;
}