body{
    display:grid;
    grid-template-areas:
    "header"
    "hero"
    "main"
    "footer";
    grid-template-rows: auto 48vh auto auto;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(20, 24, 29);
    font-family: 'Archivo', sans-serif;


}

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header a{
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


nav a:hover {
  text-decoration: underline;      /* subrayado al pasar el mouse */
  color: purple;                /* cambia color al pasar el mouse */
}

/* Cuando haces clic */
nav a:active {
  color: red;
}

.comprar_entradas{
    padding: 10px;
    background-color: rgb(241, 225, 79);
    border-radius: 20px;
    color: rgb(20, 24, 29);
    font-weight: bold;

}


.hero{
    grid-area: hero;
    background-color:  white;
    color:  rgb(20, 24, 29);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    font-weight: bold;


}

.hero h2{
    font-size: 60px;
    margin: 0;
}

p i{
  color: gold;
}

.hero p{
    margin-top: 0px;
    margin-bottom: 40px;
}

.opciones{
    margin-bottom: 30px;
}


.opciones button{
    color: black;
    font-size: 15px;
    padding: 10px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: rgb(241, 225, 79);
    font-weight: bold;
}


main{
    grid-area: main;
}

.tituloCartelera{
    text-align: center;
    font-size: 30px;
}

.cartelera{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.pelicula{
    background-color: rgb(241, 225, 79);
    height: 325px;
    width: 225px;
    display: flex;
    flex-direction: column;

}
.pelicula img{
    border-bottom: 2px solid black;

}

.pelicula p{
    text-align: center;
    color:black
}


footer{
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: white;
}