body{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(20, 24, 29);
    font-family: 'Archivo', sans-serif;


}

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header h1 a{
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: purple;
}

header a:active {
    color: red;
}


nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}


nav a:hover {
  text-decoration: underline;      /* subrayado al pasar el mouse */
  color: purple;                /* cambia color al pasar el mouse */
}

/* Cuando haces clic */
nav a:active {
  color: red;
}

.comprar_entradas{
    padding: 10px;
    background-color: rgb(241, 225, 79);
    border-radius: 20px;
    color: rgb(20, 24, 29);
    font-weight: bold;
}


main{
    grid-area: main;
    background-color: rgb(241, 225, 79);
    text-align: center;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main h2{
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: left;
    margin: 50px 0px 20px 0px;
}

form input{
    margin: 10px 0px 30px ;
}

form button{
    width: 200px;
    margin: auto;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(41, 41, 41);
}


footer{
    background-color: rgb(41, 41, 41);
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: white;
}