.contenedorGeneral{
    height: 70vh;
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "   . div1   . "
    "div2 div1 div3"
    "div2 div4 div3"
    "  .  div4   . ";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap:75px;
    row-gap: 75px;
    
}

.contenedorGeneral > :nth-child(1){
    grid-area: div1;
    border-top: 5px solid pink;

}

.contenedorGeneral > :nth-child(2){
    grid-area: div2;
    border-top: 5px solid red;

}

.contenedorGeneral > :nth-child(3){
    grid-area: div3;
    border-top: 5px solid yellow;

}

.contenedorGeneral > :nth-child(4){
    grid-area: div4;
    border-top: 5px solid blue;

}

.hijoGeneral{
    border-radius: 10PX;
    box-shadow: 0px 4px 9px;

    display: flex;
    flex-direction: column;
    
}

h2{
    text-align: left;
    margin-top:40px;
    margin-left:30px;
}

p{
    text-align: left;
    margin-top:20px;
    margin-left:30px;
}

img{
    width: 30%;
    height: auto;
    align-self: flex-end;
    margin: 10px;
}


footer{
    background-color: red;
    align-self: e;
}