body{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: pink;
    
}

.header a{
    margin: 0 20px;
}


h1 a{
    text-decoration: none;
    color: black;
}

a:hover {
  text-decoration: underline;      /* subrayado al pasar el mouse */
  color: purple;                /* cambia color al pasar el mouse */
}

/* Cuando haces clic */
a:active {
  color: red;
}

.comprar_entradas{
    border: 5px solid purple;
    background-color: purple;
    border-radius: 20px;
    color: white;
}

main{
    grid-area: main;
    color: white;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    grid-area: footer;
}