body{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    min-height: 100vh;  
    margin: 0;
    padding: 0;
    background-color: rgb(20, 24, 29);
    color: white;
    font-family: 'Archivo', sans-serif;

}


header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    text-decoration:none;
    margin: 0 20px;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
    color: purple;
}

header a:active {
    color: red;
}

.comprar_entradas{
    padding: 10px 20px;
    background-color: rgb(241, 225, 79);
    border-radius: 20px;
    color: rgb(20, 24, 29);
    font-weight: bold;
}



main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(241, 225, 79);
    padding: 40px;
}

main h1,
main p{
    font-weight: bold;
}


footer{
    background-color: rgb(41, 41, 41);
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: white;
}