{% extends 'app/base.html' %}

{% block titulo %} Receta {{receta.nombre}} {% endblock %}

{% block contenido %}
    {% for ingrediente in receta.ingredientes.all %}
       <p>{{ingrediente.nombre}} <a href="{% url 'receta_eliminar_ingrediente' receta.pk ingrediente.pk %}">Eliminar</a></p>
    {%endfor%}

    <h2>Añadir Ingredientes</h2>

    <ul>
        <form action="" method="post">
            {% csrf_token %}
        {{formulario.as_p }}
        <button type="submit">Guardar</button>
        </form>
    </ul>
{% endblock %}
