{% extends 'app/base.html' %}

{% block titulo %} Receta {% endblock %}

{% block contenido %}
    {% for receta in recetas  %}
        <p>{{receta.nombre}}</p>
    {%endfor%}

    {% if is_paginated %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

    {% endif %}

      <p>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>

      {% if message %}
        {% for message in messages %}
            <div class="{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}

      {%endif%}

{% endblock %}
